<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/Gamival logo.png">
  <title>GALAZ ENTERTAINMENT</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">


  <style>
    body{
        background-color: #ff91002f;
        font-family: "poppins", sans-serif;
    }
    .center{
        text-align: center;
        width: 100%;
    }
    .big{
        font-size: 10rem;
        margin-bottom: 0px;
    }
    .little{
        margin-top: -50px;
        text-align: center;
        font-size: 25px;
    }
    .small{
        margin-top: 70px;
    }
    .small a{
        color: #b22222;
    }
    @media (max-width: 330px){
        .big{
        font-size: 7rem;
        margin-bottom: 0px;
    }
    }
  </style>
</head>
<body>



    <div class="center">
        <p class="big">200</p>
        <p class="little">Error</p>
        <p class="small">Code already used or does not match. Please check your code. <a href="/">go back</a> and input the code specifically generated for you</p>
    </div>
    
</body>
</html>